* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400&display=swap');

body {
    margin: 100px 0 0 0;
     //font-family: Helvetica, Arial, sans-serif;
    font-family: 'Quicksand', sans-serif;

    color: $text-grey;
}

.readable {
    line-height: 1.5rem;
    max-width: 540px;
}