header {
    //height: 100%;
    width: 100%;
    background: rgb(41, 41, 41);

    //border-bottom: 3px solid $highlight-blue;
    color: white;

    padding: 8px 8px 0 8px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin: 0;
}

.header__bottom {
    display: flex;
    justify-content: space-between;
}

.header__links-container {
    // border: transparent solid 1px;
}

.header__link {
    height: 100%;
    //margin-top: 8px;
    margin: 0 8px;
    padding: 16px 0;
    display: inline-block;

    text-decoration: none;
    color: darken($highlight-blue, 5%);
}

.header__link--active {
    color: lighten($highlight-blue, 10%);
    border-bottom: 2px solid lighten($highlight-blue, 10%);
}

.search-container {
    padding: 4px;
    margin: 8px 0;
    form {
        position: relative;
        height: 100%;

        display: flex;

    }
}

.search__input {
    width: 300px;
    //height: 100%;
    padding: 8px;


    border-radius: 4px 0 0 4px;
    //border: rgba(0, 0, 0, 0.1) solid 1px;
    border: none;
    //display: inline-block;
}

.search__submit-btn {
    height: 100%;
    border: none;
    border-radius: 0 4px 4px 0;

    //display: inline-block;
    background: $highlight-blue;
    color: white;
}
