.movie {
    padding: 16px;
    margin: 16px 0;

    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0 8px 8px 0;
    border-left: 3px solid $highlight-blue;
}

.movie__title {
    font-weight: bold;
    font-size: 1.5rem;

    margin: 0 0 16px 0;
}

.movie__year {
    font-weight: lighter;
}

.movie__info-wrapper {
    display: flex;
}

.movie__poster {
    width: 150px;
    height: 100%;
}

.movie__overview {
    margin: 0;
    padding: 0 16px;

    line-height: 1.5rem;
    max-width: 540px;
}

.movie__more-info {
    color: inherit;
    float: right;

    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}


