.movie {
    padding: 16px;
    margin: 0 0 16px 0;

    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 0 8px 8px 0;
    border-left: 3px solid $highlight-blue;

    background: white;

    position: relative;

}

.movie__header {
    display: flex;
    justify-content: space-between;
}

.movie__title {
    font-weight: bold;
    font-size: 1.5rem;

    margin: 0 0 16px 0;
}

.movie__year {
    font-weight: 300;
    //color: lighten($text-grey, 50%);
}

.movie__vote {
    margin: 0 8px 0 0;
    display: inline-block;

    vertical-align: middle;
}

.movie__gold-star {
    display: inline-block;
    vertical-align: middle;
}

.movie__info-wrapper {
    display: flex;
}

.movie__poster {
    width: 150px;
    height: 100%;
}

.movie__overview {
    margin: 0;
    padding: 0 16px;

    font-size: 0.9rem;
    line-height: 1.5rem;
    max-width: 540px;
}

.movie__more-info {
    color: inherit;
    //float: right;

    position: absolute;
    bottom: 16px;
    right: 16px;

    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}


