.moviepage-container {
    padding: 0 16px;

    // display: flex;
    // flex-direction: column;
    // align-items: center;

}

.moviepage__info-container {
    display: flex;
}

.moviepage__image {
    height: 400px;
}

.moviepage__description {
    padding: 0 16px;

    p {
        margin: 0;
    }
}

.moviepage__credit-list {
    list-style: none;
    padding: 0;
    height: auto;

    max-height: 512px;
    overflow: hidden;

    transition: all 250ms;
}